a{
    margin:0;
    padding: 0;
}

body {
    text-align: center;
    background: #EEEEEE;
    color: black;
}
.wrapper{
    margin:auto;
}
.new-game{
    position: relative;
}
.new-download{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
}
.new-text{
    position: absolute;
    top: 0;
    left: 20px;
    background: royalblue;
    color: white;
    padding: 20px;
}
.new-text span{
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
}
.item{
    margin:auto;
    width: 50%;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}
.list-group-image{
    width: 100%;
    height: 350px !important;
}
.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}

