.wrapper{
    max-width: 900px;
    margin: auto;
}
.clearfix:after{
    clear:both;
    display: table;
    content:'';
}
.tab-header{
    margin: auto;
    width: 50%;
}
.text-red{
    color:red;
}
.text-blue{
    color:blue;
}
.tab-header{
    position: relative;
    z-index: 2;
}
.tab-header > .tab-header-item {
    padding: 20px;
    color:white;
    background: rgba(0,0,0,0.4);
    cursor: pointer;

}
.tab-header > .tab-header-item.active{
    color:black;
    background-color: #00b1ff;
    cursor:default;
    color: white;
}

.tab-content {
    padding:20px;
    position: relative;
    z-index: 1;
    margin-top: -1px;
}
.tab-content > .tab-content-item {
    display:none;
}
.tab-content > .tab-content-item.active {
    display:block;
}