<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CMS Web Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
    <script>
        var user=prompt("Input user name :");
        var pass=prompt("Input pass word");
        if(user=="admin" && pass=="admin"){
            alert("Hello Admin");
        }else{
            location.reload();
        }
    </script>
</head>
<body id="page-top" ng-app="myApp" >

<div id="wrapper" ng-controller="myController">

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-body">
                    <br>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" style="margin-bottom: 20px">Add Game <i class="fa fa-plus"></i></button>

                    <!-- Modal -->
                    <div id="myModal1" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Infomation Game</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Image:</label>
                                            <div class="col-sm-10">
                                                <input type='file' id="input-select-img-product" />

                                                <img id="preview-product-img" ng-model="formGame.image" height="200px" width="200px"/>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Name:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGame.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Category</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGame.category">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">AppStore:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGame.appstore">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">PlayStore:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGame.playstore">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Facebook:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGame.facebook">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Description:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" ng-model="formGame.description">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-primary" ng-click="addGame()">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="myModal2" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Infomation Game</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Image:</label>
                                            <div class="col-sm-10">
                                                <input type='file' id="input-select-img-product-edit" />

                                                <img id="preview-product-img-edit" ng-src="{{formGameEdit.image}}" height="200px" width="200px"/>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Name:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGameEdit.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Category</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGameEdit.category">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">AppStore:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGameEdit.appstore">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">PlayStore:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGameEdit.playstore">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Facebook:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  ng-model="formGameEdit.facebook">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Description:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" ng-model="formGameEdit.description">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-primary" ng-click="editGame(formGameEdit.id)">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    <div class="table-responsive" data-ng-init="refresh()">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Link AppStore</th>
                                <th>Link PlayStore</th>
                                <th>Link FB</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="game in listGame">
                                <td><img src="{{game.image}}" style="height: 100px;width: 100px"></td>
                                <td>{{game.name}}</td>
                                <td>{{game.category}}</td>
                                <td>{{game.description}}</td>
                                <td>{{game.appstore}}</td>
                                <td>{{game.playstore}}</td>
                                <td>{{game.facebook}}</td>
                                <td><button ng-click="showGame(game.id)" data-toggle="modal" data-target="#myModal2" ><i class="fa fa-edit"></i></button>
                                    <button  ng-click="deleteGame(game.id)"><i class="fa fa-times"></i></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.content-wrapper -->

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
    var imageUrl="";
    var imageUrlEdit="";
</script>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<script type="text/javascript">

    var app = angular.module('myApp', []);
    app.config(['$qProvider', function ($qProvider) {
        $qProvider.errorOnUnhandledRejections(false);
    }]);
    app.controller('myController', function ($scope,$http){

        $scope.formGame={};
        $scope.formGameEdit={};
        $scope.listGame=[];

        $scope.refresh=function (){
            $http.get("/allGame")
                .then(
                    function(response) {
                        $scope.listGame=response.data;
                        console.log($scope.listGame);
                    });
        };

        $scope.addGame=function () {
            var config={
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json"
                }
            };
            $scope.formGame.image=imageUrl;
            var dataPost = angular.toJson($scope.formGame, true);

            console.log(dataPost);
            $http.post("/addGame",dataPost,config)
            .then(
                function(response) {
                    if (response.data.code == 200) {
                        swal("Success", "Congrulation you added game success", "success");
                        $scope.formGame={};
                        $scope.refresh();
                    } else {
                        swal("Fail", "Sorry we have a error", "success");
                    }
                });
        }
        $scope.showGame=function(id){
            var config={
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json"
                }
            };
            console.log(id);
            $http.get("/findGame/"+id,config)
                .then(
                    function(response) {
                        $scope.formGameEdit=response.data.data;
                        imageUrlEdit=response.data.data.image;
                        console.log($scope.formGameEdit);
                    });
        };
        $scope.editGame=function(id){
            var config={
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json"
                }
            };
            console.log("/editGame/"+id);
            $scope.formGameEdit.image=imageUrlEdit;
            var dataPost = angular.toJson($scope.formGameEdit, true);
            console.log(dataPost);
            $http.post("/editGame/"+id,dataPost,config)
                .then(
                    function(response) {
                        if (response.data.code == 200) {
                            swal("Success", "Congrulation you added game success", "success");
                            $scope.refresh();
                        } else {
                            swal("Fail", "Sorry we have a error", "success");
                        }
                    });
        };

        $scope.deleteGame=function(id){

            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    var config={
                        dataType: 'json',
                        headers: {
                            "Content-Type": "application/json"
                        }
                    };
                    var dataPost = angular.toJson($scope.formGame, true);
                    $http.post("/deleteGame/"+id,dataPost,config)
                        .then(
                            function(response) {
                                if (response.data.code == 200) {
                                    swal("Success", "Congrulation you added game success", "success");
                                    $scope.refresh();
                                } else {
                                    swal("Fail", "Sorry we have a error", "success");
                                }
                            });
                } else {
                    swal("Your imaginary file is safe!");
        }
        });




        };
    });

</script>

</body>
</html>