<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Web Game App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tab.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="image-header">
        <img th:src="@{/img/logo_site.png}">
    </div>


    <div class="new-game">
        <div class="new-game-image">
            <a href=""><img th:src="${newGame.getImage()}" style="width: 100%;height: 500px"></a>
        </div>
        <div class="new-download">
            <div class="row">
                <div class="center-block">

                    <a th:href="${newGame.getAppstore()}"><img th:src="@{/img/appstore.png}"></a>
                    <a th:href="${newGame.getPlaystore()}"><img th:src="@{/img/playstore.png}"></a>
                    <a th:href="${newGame.getFacebook()}"><img th:src="@{/img/fb.jpg}" style="border-radius: 5px"></a>
                </div>
            </div>
        </div>
        <div class="new-text"><span>NEW GAME</span></div>
    </div>
    <br>
    <hr>

    <div class="tab-block" data-tab="true">
        <div class="row tab-header clearfix">
            <div class="tab-header-item col-lg-4" data-tab="#tab-content-01">
                IOS
            </div>
            <div class="tab-header-item col-lg-4" data-tab="#tab-content-02">
                Android
            </div>
            <div class="tab-header-item col-lg-4" data-tab="#tab-content-03">
                Facebook
            </div>
        </div>

        <div class="tab-content">
            <div id="tab-content-01" class="tab-content-item">
                <h1>IOS</h1>

                <div class="row list-group"  th:if="${not #lists.isEmpty(listGameIOS)}">
                    <div class="item  col-xs-12 col-lg-8" th:each="game : ${listGameIOS}">
                        <div class="thumbnail">
                            <a  th:href="${game.getAppstore()}"><img class="group list-group-image" th:src="${game.getImage()}" alt="" /></a>
                        </div>
                        <p th:text="${game.getDescription()}"></p>
                    </div>
                </div>

            </div>
            <div id="tab-content-02" class="tab-content-item">
                <h1>Android</h1>
                <div class="row list-group"  th:if="${not #lists.isEmpty(listGameAndroid)}">
                    <div class="item  col-xs-12 col-lg-8" th:each="game : ${listGameAndroid}">
                        <div class="thumbnail">
                            <a  th:href="${game.getPlaystore()}"><img class="group list-group-image" th:src="${game.getImage()}" alt="" /></a>

                        </div>
                        <p th:text="${game.getDescription()}"></p>
                    </div>
                </div>
            </div>
            <div id="tab-content-03" class="tab-content-item">
                <h1>Facebook</h1>
                <div class="row list-group"  th:if="${not #lists.isEmpty(listGameFaceBook)}">
                    <div class="item  col-xs-12 col-lg-8" th:each="game : ${listGameFaceBook}">
                        <div class="thumbnail">
                            <a  th:href="${game.getFacebook()}"><img class="group list-group-image" th:src="${game.getImage()}" alt="" /></a>

                        </div>
                        <p th:text="${game.getDescription()}"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer>
        <span><STRONG>CoppyRight of @2018</STRONG></span>
        <p>Thanks for visitor</p>

    </footer>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script type="text/javascript">
    $('[data-tab="true"]').tabWeb();
</script>
</body>
</html>